html {
    height: 100vh;
    margin:0;
    padding: 0;
  }
body {
    height: 100vh;
    margin:0;
    padding: 0;
    background-color: black;
  }


#container {
 height: 100vh;
}
#video-container {
  padding-top:25vh; 
  display:flex;
  }

.video-box .video-player {
    width: 50vw;
    height:auto; /*need to edit the two videos to be the same height*/
}

#icon-logo{
  margin:0 0 20px 0;
}

.fas {
	color: white;
}

#control-panel {
  display:block;
  margin-top:50px;
  width:50vw;
}

#brightness-slider {
margin-top: 3vh;
margin-left:50vw;
widows: 10vw;;
height:auto;
padding:0;
display:flex;
align-items: center;
justify-content: space-between;
}

/*this is to change the slider properties*/
#brightness-slider i {
  margin: 0;
}

#slider-adjust {
  width:30vw; /*change the slider length gere*/
  cursor:pointer;
}


